@model Registro_de_mascotas.Models.Mascota

<div class="container">
    <form asp-controller="Registro" method="post">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Nombre</label>
            <input asp-for="Name" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="Raza" class="control-label">Raza</label>
            <input asp-for="Raza" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="Color" class="control-label">Color</label>
            <input asp-for="Color" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="FechaNacimiento" class="control-label">FechaNacimiento</label>
            <input asp-for="FechaNacimiento" class="form-control" required>
        </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
    </form>
    <h2>
        @ViewData["Confirm"]
    </h2>
    <br>
    <div>
        <a asp-action="HomeController.Index">Bact to List</a>
    </div>
</div>
